In [1]:
from google.colab import files

In [3]:
import pandas as pd

In [8]:
#New file contains Salary Estimate without PerHour and -1
df = pd.read_csv('my_dataframe.csv')
df

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue
0,0,Senior Data Scientist,111 - 181 (Glassdoor est.),3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable
1,1,"Data Scientist, Product Analytics",111 - 181 (Glassdoor est.),4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable
2,2,Data Science Manager,111 - 181 (Glassdoor est.),-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable
3,3,Data Analyst,111 - 181 (Glassdoor est.),3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable
4,4,"Director, Data Science",111 - 181 (Glassdoor est.),3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...
5495,5881,Information Scientist,38 - 64 (Glassdoor est.),3.2,CAS\n3.2,"Columbus, OH",1001 to 5000 Employees,1907,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD)
5496,5882,Supervisory Research Health Scientist,47 - 89 (Glassdoor est.),4.2,Centers for Disease Control and Prevention\n4.2,"Cincinnati, OH",10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable
5497,5883,Senior SAS Programmer (Scientist),66 - 113 (Glassdoor est.),4.0,Certara\n4.0,"Cincinnati, OH",501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable
5498,5886,Senior Data Analyst - Product Analytics (open ...,67 - 111 (Glassdoor est.),4.0,New Relic\n4.0,"Cincinnati, OH",1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD)
5499,5887,Manufacturing Data Analyst Engineer,42 - 76 (Glassdoor est.),3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable

In [10]:
def splitter(a):
  a = a.split()
  return(a)

In [11]:
df['Salary Estimate'] = df['Salary Estimate'].apply(splitter)

In [14]:
def min_finder (a):
  a = a[0]
  return(a)
def max_finder(a):
  a = a[2]
  return(a)

In [16]:
df['Min_salary'] = df['Salary Estimate'].apply(min_finder)
df['Max_salary'] = df['Salary Estimate'].apply(max_finder)

In [19]:
df['Min_salary'] = df['Min_salary'].astype(int)
df['Max_salary'] = df['Max_salary'].astype(int)

In [27]:
def state(a):
  a= a.split()
  a = a[-1]
  return(a)

In [29]:
 df['State'] = df['Location'].apply(state)

In [31]:
df

,Unnamed: 0,Job Title,Salary Estimate,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,Min_salary,Max_salary,State
0,0,Senior Data Scientist,"[111, -, 181, (Glassdoor, est.)]",3.5,Hopper\n3.5,"New York, NY",501 to 1000 employees,2007,Company - Private,Travel Agencies,Travel & Tourism,Unknown / Non-Applicable,111,181,NY
1,1,"Data Scientist, Product Analytics","[111, -, 181, (Glassdoor, est.)]",4.5,Noom US\n4.5,"New York, NY",1001 to 5000 employees,2008,Company - Private,"Health, Beauty, & Fitness",Consumer Services,Unknown / Non-Applicable,111,181,NY
2,2,Data Science Manager,"[111, -, 181, (Glassdoor, est.)]",-1.0,Decode_M,"New York, NY",1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,111,181,NY
3,3,Data Analyst,"[111, -, 181, (Glassdoor, est.)]",3.4,Sapphire Digital\n3.4,"Lyndhurst, NJ",201 to 500 employees,2019,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,111,181,NJ
4,4,"Director, Data Science","[111, -, 181, (Glassdoor, est.)]",3.4,United Entertainment Group\n3.4,"New York, NY",51 to 200 employees,2007,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,111,181,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5495,5881,Information Scientist,"[38, -, 64, (Glassdoor, est.)]",3.2,CAS\n3.2,"Columbus, OH",1001 to 5000 Employees,1907,Subsidiary or Business Segment,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),38,64,OH
5496,5882,Supervisory Research Health Scientist,"[47, -, 89, (Glassdoor, est.)]",4.2,Centers for Disease Control and Prevention\n4.2,"Cincinnati, OH",10000+ Employees,1946,Government,Federal Agencies,Government,Unknown / Non-Applicable,47,89,OH
5497,5883,Senior SAS Programmer (Scientist),"[66, -, 113, (Glassdoor, est.)]",4.0,Certara\n4.0,"Cincinnati, OH",501 to 1000 Employees,2008,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,66,113,OH
5498,5886,Senior Data Analyst - Product Analytics (open ...,"[67, -, 111, (Glassdoor, est.)]",4.0,New Relic\n4.0,"Cincinnati, OH",1001 to 5000 Employees,2008,Company - Public,Computer Hardware & Software,Information Technology,$100 to $500 million (USD),67,111,OH
5499,5887,Manufacturing Data Analyst Engineer,"[42, -, 76, (Glassdoor, est.)]",3.6,Hose Master\n3.6,"Euclid, OH",201 to 500 Employees,1982,Company - Private,Electrical & Electronic Manufacturing,Manufacturing,Unknown / Non-Applicable,42,76,OH

In [33]:
#Remove Kingdom from state Column
df = df[df['State'] != 'Kingdom']

In [37]:
#Remove -1 from Rating Column
df = df[df['Rating']!= -1]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4891 entries, 0 to 5499
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         4891 non-null   int64
 1   Job Title          4891 non-null   object
 2   Salary Estimate    4891 non-null   object
 3   Rating             4891 non-null   float64
 4   Company Name       4891 non-null   object
 5   Location           4891 non-null   object
 6   Size               4891 non-null   object
 7   Founded            4891 non-null   object
 8   Type of ownership  4891 non-null   object
 9   Industry           4891 non-null   object
 10  Sector             4891 non-null   object
 11  Revenue            4891 non-null   object
 12  Min_salary         4891 non-null   int32
 13  Max_salary         4891 non-null   int32
 14  State              4891 non-null   object
dtypes: float64(1), int32(2), int64(1), object(11)
memory usage: 573.2+ KB